[Desktop Entry]
Encoding=UTF-8
Name=Link to dispensa
Type=Link
URL=http://didawiki.di.unipi.it/lib/exe/fetch.php/informatica/prl/dispensa.pdf
Icon=application-pdf
